<div class="row">
    <div class="col-12 col-lg-3">
        {{> adminNavigation}}
    </div>
    <div class="col-12 col-lg-6">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Продукт</th>
                    <th scope="col">Серийный номер</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each guarantees}}
                <tr>
                    <td><a href="/product/{{product}}" class="text-info">{{productTitle}}</a></td>
                    <td>{{serial}}</td>
                    <td>
                        <a href="/admin/order/{{order}}" class="text-info">Посмотреть заказ</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>