<div class="row">
    <div class="col-12 col-lg-3">
        {{> adminNavigation}}
    </div>
    <div class="col-12 col-lg-6">
        <h2>Шаблоны доставки</h2>
        <a href="/admin/shipping/editor">Добавить</a>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each allShip}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>
                                <a href="/admin/shipping/editor/{{_id}}" class="text-info">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>