<div class="list-group">
    <a href="/admin/" class="list-group-item list-group-item-action {{#if adminMenu}}active{{/if}}"><i class="fas fa-cogs"></i> Панель управления</a>
    <a href="/admin/products" class="list-group-item list-group-item-action {{#if productsMenu}}active{{/if}}"><i class="fas fa-cubes"></i> Продукты</a>
    <a href="/admin/categories" class="list-group-item list-group-item-action {{#if categoriesMenu}}active{{/if}}"><i class="fab fa-hubspot"></i> Категории</a>
    <a href="/admin/fields" class="list-group-item list-group-item-action {{#if fieldsMenu}}active{{/if}}"><i class="fas fa-file-alt"></i> Поля</a>
    <a href="/admin/orders" class="list-group-item list-group-item-action {{#if ordersMenu}}active{{/if}}"><i class="fas fa-truck"></i> Заказы</a>
    <a href="/admin/guarantees" class="list-group-item list-group-item-action {{#if guaranteesMenu}}active{{/if}}"><i class="far fa-list-alt"></i> Гарантии</a>
</div>