<div class="list-group">
    {{#each categories}}
    <a href="/category/{{this._id}}" class="list-group-item list-group-item-action">{{name}}</a>
    <div class="ml-3">
        {{> categories}}
    </div>
    {{/each}}
</div>