<div>
    {{#each categories}}
    <div class="d-flex justify-content-between">
        <a href="/category/{{this._id}}" class="text-dark">{{name}}</a>
        {{#if categories}}
        <a class="text-dark" data-toggle="collapse" href="#{{name}}" role="button" aria-expanded="false">
            <i class="fas fa-chevron-down"></i>
        </a>{{/if}}
    </div>
    {{#if categories}}
    <div id="{{name}}" class="ml-2 collapse">
        {{> categories}}
    </div>
    {{/if}} {{/each}}
</div>