<div class="container-fluid mt-5 py-3 text-white bg-dark">
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="row">
        <div class="col-12">
          {{shopTitle}} - {{shopDescription}}
        </div>
        <div class="w-100"></div>
        <div class="col-12">
          <p class="my-0">{{shopAddress}}</p>
          <p class="my-0">{{shopNumber}}</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-2 offset-lg-6">
      <a class="float-right text-light" href="/admin">
        <i class="fas fa-cogs"></i></a>
    </div>
  </div>
</div>