<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1>Оформить заказ</h1>
        {{#if hasErrors}}
        <div class="alert alert-danger" role="alert">
            {{#each messages}} {{this}} {{/each}}
        </div>
        {{/if}}
        <form action="/checkout" method="post">
            <div class="form-group">
                <label for="address">Адрес</label>
                <input class="form-control" type="text" id="address" name="address" required>
            </div>
            <div class="form-group">
                <label for="name">Имя</label>
                <input class="form-control" type="text" id="name" name="name" required>
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button class="btn btn-primary" type="submit">Оформить</button>
        </form>
    </div>
</div>