<h4>Способы доставки</h4>
{{#each shipping}}
    <h6>{{name}}</h6>
    <small>{{description}}</small>
{{/each}}
<h4>Способы оплаты</h4>
{{#each payment}}
    <h6>{{name}}</h6>
    <small>{{description}}</small>
{{/each}}