<div class="row">
    <div class="col-12 col-lg-6 offset-lg-3">
        <h2>{{profile.displayName}}</h2>
        {{#each orders}} <a href="/cart/order/{{_id}}">{{showDate orderDate}}</a> {{/each}}
        <a class="btn btn-warning btn-sm" href="/user/logout">Выйти
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </div>
</div>